/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
body {
  background-color: #ccc;
}

/* line 10, ../sass/screen.scss */
.form-signin {
  max-width: 400px;
  display: block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 3px #888;
  -webkit-box-shadow: 0 0 3px 3px #888;
  box-shadow: 0 0 3px 3px #888;
  border-radius: 2px;
}

/* line 19, ../sass/screen.scss */
.main {
  padding: 38px;
}

/* line 22, ../sass/screen.scss */
.social-box {
  margin: 0 auto;
  padding: 38px;
  border-bottom: 1px #ccc solid;
}

/* line 27, ../sass/screen.scss */
.social-box a {
  font-weight: bold;
  font-size: 18px;
  padding: 8px;
}

/* line 32, ../sass/screen.scss */
.social-box a i {
  font-weight: bold;
  font-size: 20px;
}

/* line 36, ../sass/screen.scss */
.heading-desc {
  font-size: 20px;
  font-weight: bold;
  padding: 38px 38px 0px 38px;
}

/* line 42, ../sass/screen.scss */
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

/* line 46, ../sass/screen.scss */
.form-signin .checkbox {
  font-weight: normal;
}

/* line 49, ../sass/screen.scss */
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 58, ../sass/screen.scss */
.form-signin .form-control:focus {
  z-index: 2;
}

/* line 61, ../sass/screen.scss */
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 5px;
}

/* line 66, ../sass/screen.scss */
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}

/* line 70, ../sass/screen.scss */
.login-footer {
  background: #f0f0f0;
  margin: 0 auto;
  border-top: 1px solid #dadada;
  padding: 20px;
}

/* line 76, ../sass/screen.scss */
.login-footer .left-section a {
  font-weight: bold;
  color: #8a8a8a;
  line-height: 19px;
}

/* line 81, ../sass/screen.scss */
.mg-btm {
  margin-bottom: 20px;
}
